.example-spacer {
  flex: 1 1 auto;
}

.active-button {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
}

.mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);

  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 1000;
}

.icon-button {
  color: var(--mat-sys-primary);
}

.main-container {
  flex: 1;
  margin-top: 64px;
}

.content {
  padding: 20px;
  height: calc(100vh - 110px);
  overflow-y: auto;
}

.sidenav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
}

.sidenav button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}