.process-card {
    margin: 8px;
}

.example-header-image {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-spacer {
    flex: 1 1 auto;
}

.icon-button {
    color: var(--mat-sys-primary);
}

.processes-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;;
}

.processes-list {
    flex: 1;
    min-width: 700px;
}

.process-config {
    flex: 1;
    padding: 8px;
}

.config-card {
    height: 100%;
}