.process-card {
    max-width: 1080px;
    width: 100%;
    margin: 8px;

}

.example-header-image {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-spacer {
    flex: 1 1 auto;
}

.icon-button {
    color: var(--mat-sys-primary);
}

.processes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}