<mat-toolbar class="mat-toolbar">
    <button matButton color="accent" routerLink="/home" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
        IPA Console
    </button>
    <button matButton color="primary" routerLinkActive="active-button" routerLink="/processes" aria-label="Example icon-button with menu icon">
        Procesos
    </button>
    <button matButton color="primary" routerLinkActive="active-button" routerLink="/logs" aria-label="Example icon-button with menu icon">
        Registros
    </button>
    <span class="example-spacer"></span>
    <button matIconButton class="icon-button" aria-label="Example icon-button with menu icon">
        <mat-icon>notifications</mat-icon>
    </button>
    <button matIconButton class="icon-button" aria-label="Example icon-button with menu icon">
        <mat-icon>settings</mat-icon>
    </button>
    <button matIconButton class="icon-button" aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>