html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.ipa-dialog .mat-mdc-dialog-container {
  padding: 0;
}

.ipa-dialog .mdc-dialog__surface {
  border-radius: 18px;
  padding: 3mm;
}

.ipa-dialog .mdc-dialog__title {
  padding: 0;
}

.ipa-dialog .mat-mdc-dialog-content {
  padding: 0;
  overflow: auto;
  max-height: 80vh;
}

.ipa-dialog .mat-mdc-dialog-actions {
  padding: 0;
}

.ipa-dialog .mat-mdc-table .mdc-data-table__cell,
.ipa-dialog .mat-mdc-table .mdc-data-table__header-cell {
  padding: 8px 12px;
}

@media (max-width: 1200px) {
  .ipa-dialog .mdc-dialog__surface {
    width: 95vw;
  }
}
